<!DOCTYPE html>
<html>
  <head>
    <title>Pro-in Yuk</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script src="jquery.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php"
                >Home</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-lg-6 m-auto">
      <form method="POST" action="TUJUAN_ADDEDIT">
        <br /><br />
        FORM
      </form>
    </div>
  </body>
</html>
